<script>
$(document).ready(function(){
	$("#formvalidate").submit(function() {
		var mobile = $("input[name='subjectinfo[mobile_user]']:checked").val();
		var appstore = $("input[name='subjectinfo[appstore]']:checked").val();
		var visit = $("input[name='subjectinfo[visit_frequency]']:checked").val();
		var expense = $("input[name='subjectinfo[app_expense]']:checked").val();
		var experience = $("input[name='subjectinfo[previous_experience]']:checked").val();

		if(mobile===undefined){
			$("#mobile_error").text("This field is required.");
		} else {
			$("#mobile_error").text("");
		}
		if(appstore===undefined){
			$("#appstore_error").text("This field is required.");
		} else {
			$("#appstore_error").text("");
		}
		if(visit===undefined){
			$("#visit_error").text("This field is required.");
		} else {
			$("#visit_error").text("");
		}
		if(expense===undefined){
			$("#expense_error").text("This field is required.");
		} else {
			$("#expense_error").text("");
		}
		if(experience===undefined){
			$("#experience_error").text("This field is required.");
		} else {
			$("#experience_error").text("");
		}

		if(mobile!==undefined && appstore!==undefined && visit!==undefined && expense!==undefined && experience!==undefined){
			return true;
		} else {
			alert("Please make sure you have already answered all required fields.");
			return false;
		}
	});
});
</script>

<div class="container-fluid" style="margin:2em auto;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body" style="margin:1em 2em;">

				<!-- model level validation -->
				<% if @subject.errors.any? %>
				    <p id="error_explanation" class="notice text-center error">
				      <span class="model-error">
									There is a problem with your submission!</br>
									<%= pluralize(@subject.errors.count, "error") %> are highlighted below.
							</span>
				    </p>
				<% end %>

				<h3 class="text-center">Part1 - App Store Experience</h3>


<%= form_for @subject, :url => { :controller => 'appstores', :action => 'create' }, :html=> { :class => "form-horizontal", :id=>"formvalidate"} do |f| %>
<ol>
	<%= f.hidden_field :esearch, :value=>"S#{Time.now.to_i.to_s + (0...10).map { ('a'..'z').to_a[rand(26)] }.join}" %>

  <div class="form-group">
	<li>
		<%= f.label :mobile_user, "Are you currently a smart mobile device user?", :class=>"control-label required", :for=>"mobile_user" %>
		<span id="helpBlock" class="help-block">Smart mobile devices are defined as one that can connect to the Internet AND download and run apps here.</span>
	</li>
		<% if @subject.errors[:mobile_user].presence %>
			<span class="model-error"><%= @subject.errors[:mobile_user].join(", ") %></span>
		<% end %>
		<span id="mobile_error" class="model-error"></span>
		<div class="radio radio-primary">
			<%= f.radio_button :mobile_user, "1", :id=>"mobile_user_1", :class=>"with-font" %>
			<%= f.label :mobile_user, "Yes", :class=>"control-label", :for=>"mobile_user_1" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :mobile_user, "0", :id=>"mobile_user_0", :class=>"with-font" %>
			<%= f.label :mobile_user, "No", :class=>"control-label", :for=>"mobile_user_0" %>
		</div>
  </div>

  <div class="form-group">
	<li>
		<%= f.label :appstore, "Which app store is on the smart mobile device you currently used?", :class=>"control-label required", :for=>"appstore" %>
	</li>
		<% if @subject.errors[:appstore].presence %>
			<span class="model-error"><%= @subject.errors[:appstore].join(", ") %></span>
		<% end %>
		<span id="appstore_error" class="model-error"></span>
		<div class="radio radio-primary">
			<%= f.radio_button :appstore, "1", :id=>"appstore_1", :class=>"with-font" %>
			<%= f.label :appstore, "Apple App Store", :class=>"control-label", :for=>"appstore_1" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :appstore, "2", :id=>"appstore_2", :class=>"with-font" %>
			<%= f.label :appstore, "Google Play", :class=>"control-label", :for=>"appstore_2" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :appstore, "3", :id=>"appstore_3", :class=>"with-font" %>
			<%= f.label :appstore, "Other", :class=>"control-label", :for=>"appstore_3" %>
		</div>
  </div>

  <div class="form-group">
	<li>
		<%= f.label :visit_frequency, "How often do you visit this app store?", :class=>"control-label required", :for=>"visit_frequency" %>
	</li>
		<% if @subject.errors[:visit_frequency].presence %>
			<span class="model-error"><%= @subject.errors[:visit_frequency].join(", ") %></span>
		<% end %>
		<span id="visit_error" class="model-error"></span>
		<div class="radio radio-primary">
			<%= f.radio_button :visit_frequency, "1", :id=>"visit_frequency_1", :class=>"with-font" %>
			<%= f.label :visit_frequency, "At least once a day", :class=>"control-label", :for=>"visit_frequency_1" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :visit_frequency, "2", :id=>"visit_frequency_2", :class=>"with-font" %>
			<%= f.label :visit_frequency, "At least once a week", :class=>"control-label", :for=>"visit_frequency_2" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :visit_frequency, "3", :id=>"visit_frequency_3", :class=>"with-font" %>
			<%= f.label :visit_frequency, "At least once a month", :class=>"control-label", :for=>"visit_frequency_3" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :visit_frequency, "4", :id=>"visit_frequency_4", :class=>"with-font" %>
			<%= f.label :visit_frequency, "At least once a year", :class=>"control-label", :for=>"visit_frequency_4" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :visit_frequency, "5", :id=>"visit_frequency_5", :class=>"with-font" %>
			<%= f.label :visit_frequency, "Almost never", :class=>"control-label", :for=>"visit_frequency_5" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :visit_frequency, "6", :id=>"visit_frequency_6", :class=>"with-font" %>
			<%= f.label :visit_frequency, "I have no idea", :class=>"control-label", :for=>"visit_frequency_6" %>
		</div>
  </div>

  <div class="form-group">
	<li>
		<%= f.label :app_expense, "How much money do you spend on purchasing apps in a month?", :class=>"control-label required", :for=>"app_expense" %>
		<span id="helpBlock" class="help-block">Including but not limited to one-time charge, subscription, in-app purchase, etc.</span>
	</li>
		<% if @subject.errors[:app_expense].presence %>
			<span class="model-error"><%= @subject.errors[:app_expense].join(", ") %></span>
		<% end %>
		<span id="expense_error" class="model-error"></span>
		<div class="radio radio-primary">
			<%= f.radio_button :app_expense, "1", :id=>"app_expense_1", :class=>"with-font" %>
			<%= f.label :app_expense, "$0", :class=>"control-label", :for=>"app_expense_1" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :app_expense, "2", :id=>"app_expense_2", :class=>"with-font" %>
			<%= f.label :app_expense, "$0-$1", :class=>"control-label", :for=>"app_expense_2" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :app_expense, "3", :id=>"app_expense_3", :class=>"with-font" %>
			<%= f.label :app_expense, "$1-$3", :class=>"control-label", :for=>"app_expense_3" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :app_expense, "4", :id=>"app_expense_4", :class=>"with-font" %>
			<%= f.label :app_expense, "$3-$5", :class=>"control-label", :for=>"app_expense_4" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :app_expense, "5", :id=>"app_expense_5", :class=>"with-font" %>
			<%= f.label :app_expense, "more than $5", :class=>"control-label", :for=>"app_expense_5" %>
		</div>
  </div>

  <div class="form-group">
	<li>
		<%= f.label :previous_experience, "How familiar are you with health & fitness apps?", :class=>"control-label required", :for=>"previous_experience" %>
		<span id="helpBlock" class="help-block">Health & fitness apps are designed with different functions for health maintenance, but we focus on apps with the majority being related to <strong>physical activity tracking and analytics</strong> here.</span>
	</li>
		<% if @subject.errors[:previous_experience].presence %>
			<span class="model-error"><%= @subject.errors[:previous_experience].join(", ") %></span>
		<% end %>
		<span id="experience_error" class="model-error"></span>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "1", :id=>"previous_experience_1", :class=>"with-font" %>
			<%= f.label :previous_experience, "Strongly unfamiliar", :class=>"control-label", :for=>"previous_experience_1" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "2", :id=>"previous_experience_2", :class=>"with-font" %>
			<%= f.label :previous_experience, "Mostly unfamiliar", :class=>"control-label", :for=>"previous_experience_2" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "3", :id=>"previous_experience_3", :class=>"with-font" %>
			<%= f.label :previous_experience, "Slightly unfamiliar", :class=>"control-label", :for=>"previous_experience_3" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "4", :id=>"previous_experience_4", :class=>"with-font" %>
			<%= f.label :previous_experience, "Neutral", :class=>"control-label", :for=>"previous_experience_4" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "5", :id=>"previous_experience_5", :class=>"with-font" %>
			<%= f.label :previous_experience, "Slightly familiar", :class=>"control-label", :for=>"previous_experience_5" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "6", :id=>"previous_experience_6", :class=>"with-font" %>
			<%= f.label :previous_experience, "Mostly familiar", :class=>"control-label", :for=>"previous_experience_6" %>
		</div>
		<div class="radio radio-primary">
			<%= f.radio_button :previous_experience, "7", :id=>"previous_experience_7", :class=>"with-font" %>
			<%= f.label :previous_experience, "Strongly familiar", :class=>"control-label", :for=>"previous_experience_7" %>
		</div>
  </div>
</ol>

	<%= f.hidden_field :ip_address, :value=>request.remote_ip %>
	<%= f.hidden_field :start_time, :value=>Time.now %>

	<% user_agent = request.user_agent %>
	<% parsed_user_agent = UserAgent.parse(user_agent) %>
	<%= f.hidden_field :browser, :value=>parsed_user_agent.browser %>
	<%= f.hidden_field :browser_version, :value=>parsed_user_agent.version %>
	<%= f.hidden_field :platform, :value=>parsed_user_agent.platform %>
	<%= f.hidden_field :os, :value=>parsed_user_agent.os %>

		<div class="text-center">
    	<%= f.submit "NEXT", :class=> "btn btn-default btn-outline btn-lg", :id=>"submit" %>
		</div>

<% end %>

			</div>
		</div>
		</div>
	</div>
</div>
