<style>
.rate {
	height: 12px;
	width: 100%;
	background: #F0F0F0;
	margin: 2px 0;
}

.fitted.tiny.star.icon {
	margin: 2px 0;
}

.five_rate, .four_rate, .three_rate, .two_rate, .one_rate {
	background: #8E8E8E;
	height: 10px;
	line-height: 10px;
	color: black;
}
.ui.disabled.image{
	height: 12px;
	width: 14px;
}
.button_to{
	float: left;
	width: calc( 100% / 3);
}
.ui.button{
	width: 90%;
}
</style>

<div class="ui raised very padded text container" style="margin:2em auto;">
	<% @app.each do |app| %>

  <div class="ui centered card" style="width:80%;">
    <div style="padding: 1em;">

			<div style="text-align:left; padding:10px 0;">
				<img src= <%= app.icon %> class="ui spaced image" style="width:20%;">
				<div style="font-size:medium; font-weight:bold; width:70%; float:right;"><%= app.appname %></div>
			</div>

			<div class="bar-chart stacked" style="width:60%; float:right;">
				<ul class="plot-container group-by-number">
					<li>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<div class="rate">
							<div class="five_rate" style=<%= "width:#{app.pct_star5}%;" %> ></div>
						</div>
					</li>
					<li>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<div class="rate">
							<div class="four_rate" style=<%= "width:#{app.pct_star4}%;" %> ></div>
						</div>
					</li>
					<li>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<div class="rate">
							<div class="three_rate" style=<%= "width:#{app.pct_star3}%;" %> ></div>
						</div>
					</li>
					<li>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<div class="rate">
							<div class="two_rate" style=<%= "width:#{app.pct_star2}%;" %> ></div>
						</div>
					</li>
					<li>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("empty.png", class: "ui disabled image") %>
						<%= image_tag("star.png", class: "ui disabled image") %>
						<div class="rate">
							<div class="one_rate" style=<%= "width:#{app.pct_star1}%;" %> ></div>
						</div>
					</li>
				</ul>
			</div>
				<div class="ui small statistic" style="width:20%;">
					<div class="value">
						<%= number_with_delimiter(app.totalrating, delimiter: ",") %>
					</div>
					<div class="label" style="text-transform:capitalize;">
						Ratings
					</div>
				</div>
	</div>

		<div class="extra content" style="text-align:center;">
			<%= button_to "Read Details", {:action=>"detail", :esearch=>app.esearch, :apporder=>app.apporder}, :method => :get,:class => "ui button" %>
			<%= button_to "Read Reviews", {:action=>"review", :esearch=>app.esearch, :apporder=>app.apporder}, :method => :get, :class => "ui button" %>
			<%= button_to "Buy USD $#{app.price}", {:action=>"survey", :esearch=>app.esearch, :apporder=>app.apporder}, :method => :get,:class => "ui button", :data => { :confirm => "Are you sure you want to purchase this app?\nIf yes, you will leave the app store and be redirected to a following survey." } %>
		</div>

  </div>
	
	<% end %>
</div>
