<div class="ui raised very padded segment" style="margin:1em auto; width:80%;">

	<% if @subject.errors.any? %>
		<div id="error_explanation">
			<span style="color:red; text-align:center;">
					There is a problem with your submission!</br>
					<%= pluralize(@subject.errors.count, "error") %> are highlighted below.

					<% if @subject.errors[:esearch].presence %>
							<span style="color:red;"></br></br>One of the error is that "Esearch ID" <%= @subject.errors[:esearch].join(", ") %></span>
					<% end %>
			</span>
		</div>
	<% end %>

<%= form_for @subject, :url => { :controller => 'mockup', :action => 'endsurvey', :esearch =>@esearch.esearch } do |f| %>

	<p class="subject_info">
		<h2 class="ui center aligned header">Part3</h2>
		<h2 class="ui header">Questions About Apps</h2>
		<div class="ui ordered list">
		<label class="item">Involvement</label>
			<table class="ui very basic table">
			  <thead class="center aligned">
				<tr>
				  <th></th>
				  <th>Strongly Disagree</th>
				  <th>Mostly Disagree</th>
				  <th>Slightly Disagree</th>
				  <th>Neutral</th>
				  <th>Slightly Agree</th>
				  <th>Mostly Agree</th>
				  <th>Strongly Agree</th>
				</tr>
			  </thead>
			  <tbody class="center aligned">
				<tr>
				  <td class="left aligned">
						I have a strong interest in activities tracking apps.
						<% if @subject.errors[:involvement1].presence %>
								<span style="color:red;"><%= @subject.errors[:involvement1].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement1, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						For me, activities tracking apps does not matter.
						<% if @subject.errors[:involvement2].presence %>
								<span style="color:red;"><%= @subject.errors[:involvement2].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement2, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						Activities tracking apps are very important to me.
						<% if @subject.errors[:involvement3].presence %>
								<span style="color:red;"><%= @subject.errors[:involvement3].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :involvement3, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
			  </tbody>
			</table>
			
		<label class="item">Regulatory Focus</label>
			<table class="ui very basic table">
			  <thead>
				<tr>
				  <th></th>
				  <th></th>
				  <th>1</th>
				  <th>2</th>
				  <th>3</th>
				  <th>4</th>
				  <th>5</th>
				  <th>6</th>
				  <th>7</th>
				  <th></th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						Using an activities tracking app helps me
						<% if @subject.errors[:rf1].presence %>
								<span style="color:red;"><%= @subject.errors[:rf1].join(", ") %></span>
						<% end %>
					</td>
				  <td>attaining something positive</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf1, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>avoiding something negative</td>
				</tr>
			  </tbody>
			</table>


			<table class="ui very basic table">
			  <thead class="center aligned">
				<tr>
				  <th></th>
				  <th>Strongly Disagree</th>
				  <th>Mostly Disagree</th>
				  <th>Slightly Disagree</th>
				  <th>Neutral</th>
				  <th>Slightly Agree</th>
				  <th>Mostly Agree</th>
				  <th>Strongly Agree</th>
				</tr>
			  </thead>
			  <tbody class="center aligned">
				<tr>
				  <td class="left aligned">
						In evaluating an activities tracking app, I am more concerned about achieving success rather than avoiding failure.
						<% if @subject.errors[:rf2].presence %>
								<span style="color:red;"><%= @subject.errors[:rf2].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf2, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						In evaluating an activities tracking app, I am more concerned about avoiding failure rather than achieving success.
						<% if @subject.errors[:rf3].presence %>
								<span style="color:red;"><%= @subject.errors[:rf3].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf3, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						When evaluating an activities tracking app, I consider achieving positive consequences from using it.
						<% if @subject.errors[:rf4].presence %>
								<span style="color:red;"><%= @subject.errors[:rf4].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf4, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						When evaluating an activities tracking app, I consider preventing negative consequences from using it.
						<% if @subject.errors[:rf5].presence %>
								<span style="color:red;"><%= @subject.errors[:rf5].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf5, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						If I buy an activities tracking app, I will feel excited about the purchase.
						<% if @subject.errors[:rf6].presence %>
								<span style="color:red;"><%= @subject.errors[:rf6].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf6, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
				<tr>
				  <td class="left aligned">
						If I buy an activities tracking app, I will feel safe about the purchase.
						<% if @subject.errors[:rf7].presence %>
								<span style="color:red;"><%= @subject.errors[:rf7].join(", ") %></span>
						<% end %>
					</td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "1", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "2", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "3", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "4", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "5", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "6", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				  <td>
						<div class="ui radio checkbox">
								<%= f.radio_button :rf7, "7", :type=>"radio" %>
								<label></label>
						</div>
				  </td>
				</tr>
			  </tbody>
			</table>
			
		</div>
	</p>

	<p class="subject_info">
		<h2 class="ui header">Demographic Information</h2>
		
		<div class="ui ordered list">
			<div class="ui form item">
			  <div class="inline field">
				<%= f.label :age, "What is your age：" %>

						<% if @subject.errors[:age].presence %>
								<span style="color:red;"><%= @subject.errors[:age].join(", ") %></span>
						<% end %>

				<%= f.text_field :age, :autocomplete=>"off", :placeholder=>"Age, please enter numeric values" %>
			  </div>
			</div>

			<div class="ui form item">
			  <div class="grouped fields">
				What is your gender?

						<% if @subject.errors[:gender].presence %>
								<span style="color:red;"><%= @subject.errors[:gender].join(", ") %></span>
						<% end %>

				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :gender, "1", :type=>"radio" %>
							<label>Male</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :gender, "2", :type=>"radio" %>
							<label>Female</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :gender, "3", :type=>"radio" %>
							<label>Other</label>
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="ui form item">
			  <div class="grouped fields">
				What was your total household income during the past 12 months?

						<% if @subject.errors[:income].presence %>
								<span style="color:red;"><%= @subject.errors[:income].join(", ") %></span>
						<% end %>

				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "1", :type=>"radio" %>
							<label>Less than $25,000</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "2", :type=>"radio" %>
							<label>$25,000 to $34,999</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "3", :type=>"radio" %>
							<label>$35,000 to $49,999</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "4", :type=>"radio" %>
							<label>$50,000 to $74,999</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "5", :type=>"radio" %>
							<label>$75,000 to $99,999</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "6", :type=>"radio" %>
							<label>$100,000 to $149,999</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui radio checkbox">
							<%= f.radio_button :income, "7", :type=>"radio" %>
							<label>$150,000 or more</label>
				  </div>
				</div>
			  </div>
			</div>
			
		</div>
	</p>

		<%= f.hidden_field :endtime, :value=>Time.now %>
		<%= f.hidden_field :esearch, :value=>@esearch.esearch %>
		<%= f.hidden_field :regulatoryfocus, :value=>@esearch.regulatoryfocus %>

		<div style="text-align:center;">
    	<%= f.submit "DONE", :class => "ui button" %>
		</div>

<% end %>

</div>	
